body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-image: url('path_to_header_image.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: #333;
}

.navbar a {
    font-weight: bold;
}

.section img {
    max-width: 100%;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
}

