body {
    font-family: 'Roboto', sans-serif;
    background-color: #111; /* Fondo negro */
    color: #f0f0f0; /* Texto blanco-gris */
}

header {
    background-image: url('ruta/de/tu/imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.h1{
    color: #B22727;
}
.navbar {
    background-color: #222; /* Más oscuro */
}

.navbar .nav-link {
    color: #f0f0f0; /* Color claro */
}

.navbar .nav-link:hover {
    color: #e60023; /* Rojo de acento */
}

.section {
    background-color: #222;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#integrantes {
    background-color: #333;
    padding: 20px;
    color: #e60023; /* Rojo */
}

footer {
    background-color: #000;
    color: #f0f0f0;
    padding: 20px 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

